@media screen and (min-width: 900px) {
  .main {
    height: 720px;
    margin-top: 50px;
    padding-top: 40px;
    background-color: rgb(255, 255, 255);
  }
  .file {
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 12px;
    background-color: black;
    color: white;
    padding: 5px 8px;
    font-weight: 500;
    z-index: 95;
  }
  .container {
    height: 90%;
    display: flex;
  }
  .fileinput {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    background-color: rgb(249, 243, 245);
    width: 50%;
    /* height: 800px; */
    padding: 20px 20px;
    margin: 20px;
  }
  .block {
    position: absolute;
    top: 340px;
    height: 160px;
    width: 80%;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgb(218, 218, 247);
    border-radius: 10px;
  }

  .input {
    resize: none;
    height: 150px;
    width: 85%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
  }
  .input:focus {
    border: none;
    outline: none;
  }
  .des {
    font-size: 20px;
  }
  .icon {
    font-size: 160px;
    padding: 30px;
  }
  .title {
    z-index: 5;
    font-size: 20px;
  }
  .hiddenInput {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 80%;
    height: 160px;
    z-index: 5;
    border: 3px solid black;
    top: 300px;
    background-color: rgb(220, 126, 142);
  }

  .fileName {
    margin-top: "20px";
    font-size: "16px";
    color: "#333";
  }
  .des1 {
    font-size: 40px;
  }
  .des2 {
    font-size: 14px;
    padding: 25px 50px;
  }
  .resultdiv {
    width: 50%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
  }
  .score {
    padding-top: 40px;
  }
  .name1 {
    font-size: 17px;
    font-weight: 600;
    padding-bottom: 10px;
  }
  .btn1 {
    border: none;
    outline: none;
    height: 45px;
    width: 300px;
    margin-top: 20px;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 10px;
  }
  @media (prefers-color-scheme: dark) {
    .main {
      background-color: rgb(20, 20, 20);
    }
    .fileinput {
      background-color: rgb(20, 20, 20);
    }
    .input {
      background-color: rgb(59, 59, 59);
    }
    .block {
      background-color: rgb(59, 59, 59);
    }
  }
}
@media screen and (max-width: 900px) and (min-width: 520px) {
  .main {
    height: 1200px;
    margin-top: 50px;
    padding-top: 40px;
    background-color: rgb(255, 255, 255);
  }
  .file {
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 12px;
    background-color: black;
    color: white;
    padding: 5px 8px;
    font-weight: 500;
    z-index: 95;
  }
  .container {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .fileinput {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    background-color: rgb(249, 243, 245);
    width: 100%;
    /* height: 800px; */
    padding: 20px 20px;
    margin: 20px;
  }
  .block {
    position: absolute;
    top: 340px;
    height: 160px;
    width: 80%;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgb(218, 218, 247);
    border-radius: 10px;
  }

  .input {
    resize: none;
    height: 150px;
    width: 85%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
  }
  .input:focus {
    border: none;
    outline: none;
  }
  .des {
    font-size: 20px;
  }
  .icon {
    font-size: 160px;
    padding: 30px;
  }
  .title {
    z-index: 5;
    font-size: 20px;
  }
  .hiddenInput {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 80%;
    height: 160px;
    z-index: 5;
    border: 3px solid black;
    top: 300px;
    background-color: rgb(220, 126, 142);
  }

  .fileName {
    margin-top: "20px";
    font-size: "16px";
    color: "#333";
  }
  .des1 {
    font-size: 30px;
  }
  .des2 {
    font-size: 14px;
    padding: 25px 50px;
  }
  .resultdiv {
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 220px;
    /* background-color: blue; */
  }
  .score {
    padding-top: 40px;
  }
  .name1 {
    font-size: 17px;
    font-weight: 600;
    padding-bottom: 10px;
  }
  .btn1 {
    border: none;
    outline: none;
    height: 45px;
    width: 300px;
    margin-top: 20px;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 10px;
  }
  @media (prefers-color-scheme: dark) {
    .main {
      background-color: rgb(20, 20, 20);
    }
    .fileinput {
      background-color: rgb(20, 20, 20);
    }
    .input {
      background-color: rgb(59, 59, 59);
    }
    .block {
      background-color: rgb(59, 59, 59);
    }
  }
}
@media screen and (max-width: 520px) {
  .main {
    height: 1200px;
    margin-top: 50px;
    padding-top: 40px;
    background-color: rgb(255, 255, 255);
  }
  .file {
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 12px;
    background-color: black;
    color: white;
    padding: 5px 8px;
    font-weight: 500;
    z-index: 95;
  }
  .container {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .fileinput {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    background-color: rgb(249, 243, 245);
    width: 100%;
    /* height: 800px; */
    padding: 20px 20px;
    margin: 20px;
  }
  .block {
    position: absolute;
    top: 380px;
    height: 160px;
    width: 80%;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgb(218, 218, 247);
    border-radius: 10px;
  }

  .input {
    resize: none;
    height: 150px;
    width: 85%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
  }
  .input:focus {
    border: none;
    outline: none;
  }
  .des {
    font-size: 20px;
  }
  .icon {
    font-size: 160px;
    padding: 30px;
  }
  .title {
    z-index: 5;
    font-size: 20px;
  }
  .hiddenInput {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 80%;
    height: 160px;
    z-index: 5;
    border: 3px solid black;
    top: 300px;
    background-color: rgb(220, 126, 142);
  }

  .fileName {
    margin-top: "20px";
    font-size: "16px";
    color: "#333";
  }
  .des1 {
    font-size: 20px;
  }
  .des2 {
    font-size: 14px;
    padding: 25px 20px;
  }
  .resultdiv {
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 260px;
    /* background-color: blue; */
  }
  .score {
    padding-top: 40px;
  }
  .name1 {
    font-size: 17px;
    font-weight: 600;
    padding-bottom: 10px;
  }
  .btn1 {
    border: none;
    outline: none;
    height: 45px;
    width: 300px;
    margin-top: 20px;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 10px;
  }
  @media (prefers-color-scheme: dark) {
    .main {
      background-color: rgb(20, 20, 20);
    }
    .fileinput {
      background-color: rgb(20, 20, 20);
    }
    .input {
      background-color: rgb(59, 59, 59);
    }
    .block {
      background-color: rgb(59, 59, 59);
    }
  }
}
